.photo, .info {
    display: inline-block;
}

.photo {
    width: 23%;
    margin: 5% 3%;
}

.photo img {
    width: 100%;
    height: 400px;
}

.info{
    vertical-align: sub;
    margin-top: 10%;
}